<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1><%= theProduct.name %></h1>
    <ul>
        <li><%= theProduct.price %></li>
        <li><%= theProduct.category %></li>
    </ul>
    <a href="/products">Back to products</a>
</body>
</html>